global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE

{% for items in haproxy_services %}
# Frontend config for {{ items.name }}
frontend {{ items.name }}_frontend
        # Frontend listen port for items.name
        bind *:{{ items.bind }}
        # Set default backend
        default_backend {{ items.name }}_backend
        # set mode
        mode {{ items.mode }}
        # Frontend config options
{% for fopts in items.frontend_config %}
        {{ fopts }}
{% endfor %}
# Backend config for {{ items.name }}
backend {{ items.name }}_backend
        # backend servers
{% for srv in items.servers %}
        server {{ items.name }}_cluster_{{ loop.index }} {{ srv }}:{{ items.bind }} {% for sopts in items.server_opts %} {{ sopts }} {% endfor +%}
{% endfor %}
        # set mode
        mode {{ items.mode }}
        # Backend config options
{% for bopts in items.backend_config %}
        {{ bopts }}
{% endfor %}
# Config End for {{ items.name }}
{% endfor %}

listen haproxy.stats
  bind {{ ansible_default_ipv4.address }}:8404
  mode http
  stats enable
  stats uri /
  stats auth {{ username }}:{{ password }}